@media  screen and (max-width:1400px) {

    .main_container{
        width: 1000px;
        .bunner__content {

            margin-top: 252px;
        }  
    }
    body > .promo {
        margin-top: 76px;
        margin-bottom: 132px;
    }
    body > .sale{
        margin: 0 auto 132px;
        height: 400px;
    }
    body > .bunner {
        
        height: 955px;
    }
   

    .sale__block-items{
        .sale__block-head {
       
        font-size: 75px;
        margin: 0 0 9px 0;
         }
    .sale__block-title {
        
        font-size: 28px;
        }
    }
    
}
@media screen and (max-width: 1200px){
.main_container {
    width: 900px;
    padding: 0;
    .bunner__content {

        margin-top: 252px;
    }
}
.promo__wrapper > .promo__item {
    margin: 0 10px;
    position: relative;
}

    body > .promo {
        margin-top: 56px;
        margin-bottom: 56px;
    }
    body > .sale{
        margin: 0 auto 56px;
    }
    body > .bunner {
        
        height: 855px;
    }
    .sale__block-items{
        .sale__block-head {
        font-size: 65px;
        margin: 0 0 7px 0;
        line-height: 80px;
         }
         .sale__block-title {
        font-size: 24px;
        line-height: 36px;
        }
        .sale__block-text {  
            font-size: 16px;
        }
    }

    .main_container>.form__wrapper{
        padding: 53px 5px;
    }
    .form>.main_container{
        padding: 0;
    }
    .form_button{
        margin-right: 31px;
    }
    form.form{
        margin: 56px auto 0 auto;
    }
}


@media (max-width: 1000px){
   *{
       font-size: 95%;
   }
    .main_container {
        width: 600px;
        .bunner__content {

            margin-top: 132px;
            .bunner__content-h1 {
                font-size: 105px;}
        } 
    }
    body > .promo {
        margin-top: 76px;
        margin-bottom: 132px;
    }
    body > .sale{
        margin: 0 auto 100px;
        height: 400px;
    }
    body > .bunner {
        
        height: 635px;
    }
    .sale__block-items{
        .sale__block-head {
        font-size: 56px;
        margin: 0 0 7px 0;
        line-height: 80px;
         }
         .sale__block-title {
        font-size: 18px;
        line-height: 36px;
        }
        .sale__block-text {  
            font-size: 12px;
            line-height: 16px;
        }
        .sale__block-button {
            width: 100px;
            height: 40px;
            font-size: 12px;
        }
    }
    
    .header__logo > .header__burger{
        display: flex;
    }
    ul.header_menu__list{
        display: none;
    }
    .promo>.promo__subscription,
    .form__wrapper>.promo__subscription {
        font-size: 40px;
        font-family: "Bold";
    }
    .form__wrapper>.form__section{
        display: flex;
        flex-direction: column;
        .section__second{
            margin-left: 0;
        }
    }

}
@media screen and (max-width: 768px){
    .main_container {
        width: 480px;
        .bunner__content {

           
            .bunner__content-h1 {
                font-size: 105px;}
    }
}
    .header__burger_menu{
        display: none;
    }
    .form__wrapper > .promo__subscription {
        font-size: 35px;
        font-family: "Bold";
    }
    .header__burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
    }
    
    body > .promo {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    body > .sale{
        margin: 0 auto 50px;
        height: 400px;
    }
     body > .bunner{
        height: 568px;
    }
    .sale .sale__block {
        width: 100%;}
    .sale__block-items{
        .sale__block-head {
        font-size: 46px;
        margin: 0 0 7px 0;
        line-height: 40px;
         }
         .sale__block-title {
        font-size: 14px;
        line-height: 28px;
        }
        .sale__block-text {  
            font-size: 14px;
        }
       
        
    }
    .promo > .promo__wrapper{
        flex-direction: column;
        .promo__item {
            margin: 10px 0;
    }
}
.swiper-wrapper .swiper-slide{
    display: flex;
    justify-content: center;
}

.footer_menu__list{
    flex-direction: column;
    align-items: center;
}
.footer__icons{
    flex-direction: column;
}
}

@media screen and (max-width: 480px){
    .main_container {
        width: 100%;
        padding: 0;
        .bunner__content {

        
            .bunner__content-h1 {
                font-size: 65px;
            }
    }
}
.bunner__header>.header__burger_menu {
    display: none;
}
.header__search>.header__search-input {
    width: 80px;
}
.form__container{
    max-width: 320px;
}
.form__section label, div > label {
    margin-top: 12px;
    margin-bottom: 3px;
}
.content__button.form_button {
       align-self: center;
       margin: 20px 0 0 0 ;
}
.form__wrapper > .promo__subscription {
    font-size: 25px;
    font-family: "Bold";
}
.promo > .promo__subscription, .form__wrapper > .promo__subscription {
    font-size: 32px;
    font-family: "Bold";
}
}