@import "_normalize.scss";
@font-face {
			font-family: "Bold";
			src:url("../fonts/OpenSansCondensed-Bold.ttf") format("truetype");
			font-style: bold;
			font-weight: normal;
	}
    @font-face {
        font-family: "Light";
        src:url("../fonts/OpenSansCondensed-Light.ttf") format("truetype");
        font-style: normal;
        font-weight: normal;
}
*{
    box-sizing: border-box;
}
body{ 
    font-family: "Light";

}
.main_container{
    width: 1270px;
    margin: 0 auto;
    box-sizing: border-box;
}

.bunner{
    padding-top:  36px;
    background-image: url("./../images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    box-sizing: border-box;

}

.bunner__header{
     display: flex;
      justify-content: space-between;
      align-items: center;
 }
nav {
    min-width: 40%;   
}
.burger_menu__list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: "Bold";
}
.burger_menu__items{ 
    font-family: "Bold";
        font-weight: bold;
    font-size: 18px;
    color: white;
}
.header__search-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header__search-input{
    background-color: transparent;
    border: none;
    outline: none;
    width: 125px;
}

.header__search{
    position: relative;
}
.header__search::before{
    content: "";
    position: absolute;
    width: 125px;
    height: 2px;
    background-color: #fff;
    bottom: 0;
}
.header__search::after{
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    background: url(/images/search.svg) no-repeat;
    right: 4px;
}
.bunner__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 292px;
}
.bunner__content-h1{
    font-size: 165px;
    color: white;
    margin: 0;
    font-family: "Bold";
}
.bunner__content-h2{
    font-size: 24x;
    color: white;
    margin: 0;
    font-family: "Bold";
}
.banner__content-button{
    background: #16DCF0;
    width: 150px;
    height: 49.99px;
    font-family: "Bold";
    color: #fff;
    border-radius: 5px ;
    border: none;
}
.banner__content-button:hover{
    background: rgba(22, 220, 240, 0.22);
    box-shadow: 0px 5px 12px 3px rgba(0, 0, 0, 0.22);;
    border: 1px solid #16daf0d5;
    transition: 0.5s;
}
.promo{
    margin-top: 96px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 36px;
    margin-bottom: 152px;
}
.promo__wrapper{
    display: flex;
}
.promo__subscription{
    font-size: 48px;
    font-family: "Bold";
}
.promo__subscription-small{
    font-size: 18px;
    font-family: "Light";
    width: 25%;
    word-wrap: normal;
    margin-bottom: 52px;
}
.promo__item{
    width: 312px;
    height: 417px;
    position: relative;
    margin-right: 36px;
    color: #fff;   
}
.promo__item-star{
    background: linear-gradient(90deg, #16DCF0 6.25%, rgba(22, 220, 240, 0.46) 100%);
    padding: 20px;
    position: absolute;
    top: 0px;
    right: 0px;
}
.promo__item-link{
    position: absolute;
    top: 0;
    right: 0;  
}
.promo__block{
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    padding: 25px 20px;
    width: 312px;
    min-height: 125px;
       background: linear-gradient(90deg, #00C7DC 6.25%, rgba(22, 220, 240, 0.46) 100%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.promo__block:hover 
.promo__block-text{ 
    height: 227px; 
    transition: 1.4s;
}
.promo__block-header{
margin: 0;
font-family: "Bold";
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 33px;

}
.promo__block-text{
box-sizing: border-box;
 margin-top: 0;
display: flex;
font-size: 16px;
line-height: 19px;
word-wrap: normal;
text-align: start;
font-weight: normal;
overflow: hidden;
height: 55px;
}
.promo__block-link{
align-self: flex-end;
font-family: "Bold";
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 22px;
color: #FFFFFF;
text-decoration: none;
}
.promo__link-box{
    display: flex;
    align-self: flex-end;
   margin-top: 9px;
}
.sale{
    background: url(/images/SALE.jpg);
    background-repeat: no-repeat;
    height: 665px;
    margin: 0 auto 152px;
    color: #fff;
}
.sale__block{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background: rgba(57, 57, 57, 0.44);
}
.sale__block-items{
    margin: 0 54px;
    width: 50%;
}
.sale__block-head{
font-family: "Bold";
font-style: normal;
font-weight: bold;
font-size: 100px;
line-height: 136px;
text-transform: uppercase;
color: #FFFFFF;
margin: 0 0 19px 0;
}
.sale__block-title{
    font-family: "Bold";
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 65px;
color: #FFFFFF;
margin: 0 0 2px 0;
}
.sale__block-text{
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 22px;
margin: 0 0 21px 0;
width: 100%;
}
.sale__block-button{
    width: 150px;
    height: 60px;
    background: #16DCF0;
    border-radius: 5px;
}
.sale__block-button:hover{
    background: rgba(22, 220, 240, 0.22);
    box-shadow: 0px 5px 12px 3px rgba(0, 0, 0, 0.22);;
    border: 1px solid #16daf0d5;
    transition: 0.5s;
   
}
.sale__block-button:focus{
    outline: none;
    
}
.sale__block-button:active{
    outline: 0;
}