article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

.image-slider {
  padding: 30px 0 70px 0;
}

.image-slider__image {
  text-align: center;
}

.image-slider__image img {
  max-width: 100%;
}

.swiper-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}

.image-slider__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.slider__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: -webkit-gradient(linear, right top, left top, color-stop(37.31%, #FFFFFF), color-stop(90.59%, rgba(255, 255, 255, 0.17)));
  background: linear-gradient(270deg, #FFFFFF 37.31%, rgba(255, 255, 255, 0.17) 90.59%);
}

@media screen and (max-width: 1400px) {
  .main_container {
    width: 1000px;
  }
  .main_container .bunner__content {
    margin-top: 252px;
  }
  body > .promo {
    margin-top: 76px;
    margin-bottom: 132px;
  }
  body > .sale {
    margin: 0 auto 132px;
    height: 400px;
  }
  body > .bunner {
    height: 955px;
  }
  .sale__block-items .sale__block-head {
    font-size: 75px;
    margin: 0 0 9px 0;
  }
  .sale__block-items .sale__block-title {
    font-size: 28px;
  }
}

@media screen and (max-width: 1200px) {
  .main_container {
    width: 900px;
  }
  .main_container .bunner__content {
    margin-top: 252px;
  }
  .promo__wrapper > .promo__item {
    margin: 0 10px;
    position: relative;
  }
  body > .promo {
    margin-top: 56px;
    margin-bottom: 56px;
  }
  body > .sale {
    margin: 0 auto 56px;
  }
  body > .bunner {
    height: 855px;
  }
  .sale__block-items .sale__block-head {
    font-size: 65px;
    margin: 0 0 7px 0;
    line-height: 80px;
  }
  .sale__block-items .sale__block-title {
    font-size: 22px;
    line-height: 36px;
  }
  .sale__block-items .sale__block-text {
    font-size: 16px;
  }
}

@media (max-width: 1000px) {
  * {
    font-size: 95%;
  }
  .main_container {
    width: 600px;
  }
  .main_container .bunner__content {
    margin-top: 152px;
  }
  .main_container .bunner__content .bunner__content-h1 {
    font-size: 105px;
  }
  body > .promo {
    margin-top: 76px;
    margin-bottom: 132px;
  }
  body > .sale {
    margin: 0 auto 100px;
    height: 400px;
  }
  body > .bunner {
    height: 635px;
  }
  .sale__block-items .sale__block-head {
    font-size: 56px;
    margin: 0 0 7px 0;
    line-height: 80px;
  }
  .sale__block-items .sale__block-title {
    font-size: 18px;
    line-height: 36px;
  }
  .sale__block-items .sale__block-text {
    font-size: 10px;
  }
  .sale__block-items .sale__block-button {
    width: 100px;
    height: 40px;
    font-size: 12px;
  }
  .header__burger_menu {
    display: none;
  }
  .header__logo > .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .main_container {
    width: 480px;
  }
  .header__burger_menu {
    display: none;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }
  body > .promo {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  body > .sale {
    margin: 0 auto 80px;
    height: 400px;
  }
  body > .bunner {
    height: 435px;
  }
  .sale .sale__block {
    width: 100%;
  }
  .sale__block-items .sale__block-head {
    font-size: 46px;
    margin: 0 0 7px 0;
    line-height: 40px;
  }
  .sale__block-items .sale__block-title {
    font-size: 14px;
    line-height: 28px;
  }
  .sale__block-items .sale__block-text {
    font-size: 8px;
  }
  .sale__block-items .sale__block-button {
    width: 85px;
    height: 34px;
    font-size: 10px;
  }
  .promo > .promo__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .promo > .promo__wrapper .promo__item {
    margin: 10px 0;
  }
  .swiper-wrapper .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@font-face {
  font-family: "Bold";
  src: url("../fonts/OpenSansCondensed-Bold.ttf") format("truetype");
  font-style: bold;
  font-weight: normal;
}

@font-face {
  font-family: "Light";
  src: url("../fonts/OpenSansCondensed-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Light";
}

.main_container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 25px;
}

.container {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bunner {
  padding-top: 36px;
  background-image: url("./../images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  height: 975px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bunner__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

nav {
  min-width: 40%;
}

.burger_menu__list {
  display: none;
}

.burger_menu__items {
  font-family: "Bold";
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  list-style: none;
  color: #fff;
}

.header__burger {
  display: none;
  position: relative;
  width: 30px;
  height: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin: 0 15px 0 0;
}

.header__burger::before,
.header__burger::after {
  content: '';
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
}

.header__burger::before {
  top: 0;
}

.header__burger::after {
  bottom: 0;
}

.header__burger span {
  position: absolute;
  background-color: #fff;
  left: 0;
  width: 100%;
  height: 2px;
  top: 9px;
}

.header__logo {
  position: relative;
  top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.header_menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Bold";
}

.header_menu__items > a,
.burger_menu__items > a {
  font-family: "Bold";
  font-weight: bold;
  font-size: 18px;
  color: white;
  text-decoration: none;
}

.header__search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__search-input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 125px;
}

.header__search {
  position: relative;
  margin-right: 5px;
}

.header__search::before {
  content: "";
  position: absolute;
  width: 125px;
  height: 2px;
  background-color: #fff;
  bottom: 0;
}

.header__search::after {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  background: url(/images/search.svg) no-repeat;
  right: 4px;
}

.bunner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 292px;
}

.bunner__content-h1 {
  font-size: 165px;
  color: white;
  margin: 0;
  font-family: "Bold";
}

.bunner__content-h2 {
  font-size: 24x;
  color: white;
  margin: 0;
  font-family: "Bold";
}

.banner__content-button {
  background: #16DCF0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  font-size: 18px;
  height: 49.99px;
  font-family: "Bold";
  color: #fff;
  border-radius: 5px;
  border: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.banner__content-button:hover {
  background: rgba(22, 220, 240, 0.22);
  -webkit-box-shadow: 0px 5px 12px 3px rgba(0, 0, 0, 0.22);
          box-shadow: 0px 5px 12px 3px rgba(0, 0, 0, 0.22);
  border: 1px solid #16daf0d5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.promo {
  margin-top: 96px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  margin-bottom: 152px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.promo__subscription {
  font-size: 48px;
  font-family: "Bold";
}

.promo__subscription-small {
  font-size: 18px;
  font-family: "Light";
  max-width: 444px;
  word-wrap: normal;
  margin-bottom: 52px;
}

.promo__item {
  max-width: 312px;
  max-height: 417px;
  position: relative;
  margin: 0 18px;
  color: #fff;
}

.promo__item-star {
  background: -webkit-gradient(linear, left top, right top, color-stop(6.25%, #16DCF0), to(rgba(22, 220, 240, 0.46)));
  background: linear-gradient(90deg, #16DCF0 6.25%, rgba(22, 220, 240, 0.46) 100%);
  padding: 20px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.promo__item-img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
}

.promo__item-link {
  position: absolute;
  top: 0;
  right: 0;
}

.promo__block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 25px 20px;
  background: -webkit-gradient(linear, left top, right top, color-stop(6.25%, #00C7DC), to(rgba(22, 220, 240, 0.46)));
  background: linear-gradient(90deg, #00C7DC 6.25%, rgba(22, 220, 240, 0.46) 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.promo__block-text:hover {
  height: 85%;
  -webkit-transition: 1.4s;
  transition: 1.4s;
  min-height: 58px;
}

.promo__block-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0;
  font-family: "Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
}

.promo__block-text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 19px;
  word-wrap: normal;
  text-align: start;
  font-weight: normal;
  overflow: hidden;
  height: 58px;
  width: 100%;
  margin-bottom: 25px;
}

.promo__block-link {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 88px;
  height: 42px;
  margin: 10px;
  font-family: "Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  text-decoration: none;
}

.promo__link-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 9px;
}

.sale {
  background: url(/images/SALE.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 665px;
  margin: 0 auto 152px;
  color: #fff;
  background-position: center;
}

.sale__block {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: rgba(57, 57, 57, 0.44);
}

.sale__block-items {
  margin: 0 54px;
  width: 50%;
  max-height: 100%;
}

.sale__block-head {
  font-family: "Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 136px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 0 19px 0;
}

.sale__block-title {
  font-family: "Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 65px;
  color: #FFFFFF;
  margin: 0 0 2px 0;
}

.sale__block-text {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 21px 0;
  width: 100%;
  overflow-y: auto;
}

.sale__block-button {
  width: 150px;
  height: 60px;
  background: #16DCF0;
  border-radius: 5px;
  font-family: "Bold";
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-size: 18px;
}

.sale__block-button:hover {
  background: rgba(22, 220, 240, 0.22);
  -webkit-box-shadow: 0px 5px 12px 3px rgba(0, 0, 0, 0.22);
          box-shadow: 0px 5px 12px 3px rgba(0, 0, 0, 0.22);
  border: 1px solid #16daf0d5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sale__block-button:focus {
  outline: none;
}

.sale__block-button:active {
  outline: 0;
}
/*# sourceMappingURL=style.css.map */