@import "_normalize.scss";
@import "_swiper-slider.scss";
@import "_media.scss";
@font-face {
			font-family: "Bold";
			src:url("../fonts/OpenSansCondensed-Bold.ttf") format("truetype");
			font-style: bold;
			font-weight: normal;
	}
    @font-face {
        font-family: "Light";
        src:url("../fonts/OpenSansCondensed-Light.ttf") format("truetype");
        font-style: normal;
        font-weight: normal;
}
*{
    box-sizing: border-box;
}
body{ 
    font-family: "Light";

}
#burger  {
    margin-top: 20px;
    width:60px;
    justify-content: center;
    align-items: center;
    padding: 0;
    border:none;
    position: relative;
    cursor: pointer;
    display: none; 
    z-index: 999;
    @media (max-width: 768px){
       display: block;
    }  
  }

  .burger_menu__list{
    background: transparent;
    position: absolute;
    list-style: none;
    padding-left: 0px;
    padding-top: 15px;
    margin-left: 5px;
    top: 0;
    display: none;
  }
.active{
    display: block;
    z-index: 998;
  }
  .header__burger_menu{
      display: block;
     
  }
.header_menu__list{
    display: flex;
    list-style: none;
    justify-content: space-between;
   
}
  .burger_menu__items{
    font-family: "Bold";
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    width: fit-content;
    list-style: none;
    color: #fff;
    left: 5px;
    margin: 4px  0 4px 5px;
}
.main_container{
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 25px;
}
.container{
    max-width: 100%;
    display: flex;
    
    align-items: center;
    flex-direction: column;
}
.bunner{
    padding-top:  18px;
    background-image: url("./../images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // background-attachment: fixed;
    max-width: 100%;
    height: 975px;
    box-sizing: border-box;

}

.bunner__header{
     display: flex;
      justify-content: space-between;
      align-items: baseline;
 }
nav {
    min-width: 40%;   
}
.header__burger{
    display: none;
    position: relative;
    width: 30px;
    height: 20px;
    flex-direction: row-reverse;
    margin: 0 15px 0 0;
}
.header__burger::before,
.header__burger::after{
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
}
.header__burger::before{
    top: 0;
}
.header__burger::after{
    bottom: 0;
}
.header__burger span{
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
}
.header__logo{
    position: relative;
    top: 5px;
    display: flex;
    flex-direction: row-reverse;
}

.header_menu__items > a,
.burger_menu__items > a{ 
    font-family: "Bold";
        font-weight: bold;
    font-size: 18px;
    color: white;
    text-decoration: none;
}
.header__search-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header__search-input{
    background-color: transparent;
    border: none;
    outline: none;
    width: 125px;
}

.header__search{
    position: relative;
    margin-right: 5px;
}
.header__search::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    bottom: 0;
}
.header__search::after{
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    background: url(/images/search.svg) no-repeat;
    right: 4px;
}
.bunner__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 292px;
}
.bunner__content-h1{
    font-size: 165px;
    color: white;
    margin: 0;
    font-family: "Bold";
}
.bunner__content-h2{
    font-size: 24x;
    color: white;
    margin: 0;
    font-family: "Bold";
}
.banner__content-button{
    background: #16DCF0;
    display: flex;
    width: 150px;
    font-size: 18px;
    height: 49.99px;
    font-family: "Bold";
    color: #fff;
    border-radius: 5px ;
    border: none;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    
}
.banner__content-button:hover{
    background: rgba(22, 220, 240, 0.22);
    box-shadow: 0px 5px 12px 3px rgba(0, 0, 0, 0.22);
    border: 1px solid #16daf0d5;
    transition: 0.5s;
}
.promo{
    margin-top: 96px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 152px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.promo__wrapper{
    display: flex;
    flex-direction: row;
}
.promo__subscription{
    font-size: 48px;
    font-family: "Bold";
}
.promo__subscription-small{
    font-size: 18px;
    font-family: "Light";
    max-width: 444px;
    word-wrap: normal;
    margin-bottom: 52px;
}
.promo__item{
    max-width: 312px;
    max-height: 417px;
    position: relative;
    margin: 0 18px;
    color: #fff;   
}
.promo__item-star{
    background: linear-gradient(90deg, #16DCF0 6.25%, rgba(22, 220, 240, 0.46) 100%);
    padding: 20px;
    position: absolute;
    top: 0px;
    right: 0px;
}
.promo__item-img{
    // background-position: center;
    // background-size: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}
.promo__item-link{
    position: absolute;
    top: 0;
    right: 0;  
}
.promo__block{
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 25px 20px;
    // min-height: 125px;
       background: linear-gradient(90deg, #00C7DC 6.25%, rgba(22, 220, 240, 0.46) 100%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
// .promo__block:hover, 
.promo__block-text:hover{ 
    height: 85%; 
    transition: 1.4s;
    min-height: 58px;
}
.promo__block-header{
    width: 100%;
    display: flex;
    align-self: flex-start;
    margin: 0;
font-family: "Bold";
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 33px;

}
.promo__block-text{
    box-sizing: border-box;
    margin-top: 0;
    display: flex;
    // font-size: 16px;
    line-height: 19px;
    word-wrap: normal;
    text-align: start;
    font-weight: normal;
    overflow: hidden;
    height: 58px;
    width: 100%;
    margin-bottom: 25px;
}
.promo__block-link{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 88px;
    height: 42px;
    margin: 10px;
    font-family: "Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: none;

}
.promo__link-box{
    display: flex;
    align-self: flex-end;
   margin-top: 9px;
}
.sale{
    background: url(/images/SALE.jpg);
    background-repeat: no-repeat;
    
    background-size: cover;
    background-position: center;
    height: 665px;
    margin: 0 auto 152px;
    color: #fff;
    background-position: center;
}
.sale__block{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background: rgba(57, 57, 57, 0.44);
}
.sale__block-items{
    margin: 0 54px;
    width: 50%;
    max-height: 100%;
}
.sale__block-head{
    font-family: "Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 136px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 0 19px 0;
}
.sale__block-title{
    font-family: "Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    color: #FFFFFF;
    margin: 0 0 2px 0;
}
.sale__block-text{
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 22px;
margin: 0 0 21px 0;
width: 100%;
overflow-y: auto;
}
.sale__block-button{
    width: 150px;
    height: 60px;
    background: #16DCF0;
    border-radius: 5px;
    font-family: "Bold";
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
}
.sale__block-button:hover{
    background: rgba(22, 220, 240, 0.22);
    box-shadow: 0px 5px 12px 3px rgba(0, 0, 0, 0.22);;
    border: 1px solid #16daf0d5;
    transition: 0.5s;
   
}
.sale__block-button:focus{
    outline: none;
    
}
.sale__block-button:active{
    outline: 0;
}

.form{
    margin: 105px auto 0 auto;
    background: url(/images/form-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 864px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__wrapper{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 83px 93px 87px 84px;
}
.form-header{
    margin-bottom: 23px; 
    text-transform: uppercase;
}
.form__section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:  0 auto;
    max-width: 100%;
}
.section__first{
    display: flex;
    flex-direction: column;
   width: 100%; 
   margin-right: 18px;
}
.section__second{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
   margin-left: 18px;
}
.destination-form{
    display: flex;
   justify-self: center;

}
.radio{
    max-width: 100%;
}
label, div>label{
    font-family: "Light";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #454545;
    margin-top: 25px;
    margin-bottom: 9px; 
    align-items: flex-start;   
}
.section__first>input,
.destination-form input{
    width: 100%;
    height: 45px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 5px;
    outline: 0;
    padding-left: 20px;
    box-sizing: border-box;
}

.destination-form> div{
    display: flex;
    flex-direction: column; 
}
.destination-form
.data__inputs{
    width: 85%;
    height: 45px;
    padding: 12px;
    outline: 0;
    appearance: none;
    background: url(/images/data.png) no-repeat 90% center;
}

.form__input{
    width: 100%;
}
.form__select{
    border: 1px solid #c4c4c4;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    outline: 0;
    word-wrap: normal;
    appearance: none;
    background: url(/images/arrow.png) no-repeat 95% center;

}
option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
}
.form__amount{
    display: flex;
    justify-content: space-between;

}
.form__amount label{
    margin: -4px 17px 0px 2px;}
fieldset{
   border: 0;
   display: flex;
   justify-content: space-between;
   width: 100%;
}
.radio-buttoms{
    display: flex;
    align-items: center;
}
.form_button{
    display: flex;
    align-self: flex-end;
    margin-top: 67px;
}
.form_button a{
    height: 60px;
}
footer{
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 25px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
footer > .header_menu__items{
    color: black;
}
.footer_menu__list{
    
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: "Bold";
}
.footer_menu__list > .header_menu__items > a {
    color: black;
}
.bunner__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.footer__icons{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.footer-icon{
    margin: 0 5px;
}